@tailwind base;
@tailwind components;
.active {
  color: aliceblue;
}
.active button {
  background-color: #f94c10;
}
body {
  padding: 0;
  margin: 0;
  background-color: #dcdcdc;
  overflow: hidden;

}
*::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar-corner {
  background: #dcdcdc;
}
/* Track */
*::-webkit-scrollbar-track {
  background: #dcdcdc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9b9999;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dcdcdc;
}

@tailwind utilities;
